{% extends "::base.html.twig" %}
{% block body %}
    <h1>Test</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Start URL</th>
            <td>{{ entity.url }}</td>
        </tr>
        <tr>
            <th>Founded URLs</th>
            <td>
                {% for key, value in entity.links  %}
                    {{ value}}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Unused Classes</th>
            <td>
                    {{ entity.unusedClasses | replace({",":"<br/>"}) |raw }}
            </td>
        </tr>
        <tr>
            <th>Unused Ids</th>
            <td>
                    {{ entity.unusedIds | replace({",":"<br/>"}) |raw }}
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}